*.mp3 filter=lfs diff=lfs merge=lfs -text
gazal/*.mp3 filter=lfs diff=lfs merge=lfs -text
NewBollywood/*.mp3 filter=lfs diff=lfs merge=lfs -text
ninetees/*.mp3 filter=lfs diff=lfs merge=lfs -text
oldsongs/*.mp3 filter=lfs diff=lfs merge=lfs -text
